body {
  background-color: #304EC3;
}

.container {
  position: relative;
}

#steveharvey {
  position: absolute;
  width: 180px;
  top: 40px;
  left: 40px;
}

#game-time {
  position: absolute;
  left: 600px;
  top: 200px;
  font-size: 100px;
  color: white;
}

/*-------------------------------*/
/*answer board, scoreboxes, and FF logo*/
#boardBackground {
  background-color: #62B2A4;
  background-image: radial-gradient(white 23%, transparent 24%);
  background-size:20px 20px;
  background-position: 0 0, 10px 10px;
          border-radius: 50%;
  border: 12px solid #C13237;
  display: table;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  position: relative;
  top: 100px;
}

#logo-wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  top: -98px;
}

.blackAnswerBackground {
  position: absolute;
  height: 175px;
  width: 378px;
  background-color: black;
  left: 60px;
  top: 66px;
}

.answerTile {
    position: relative;
    left: 3px;
    top: 5px;
    transform: rotateX(0deg);
    width: 176px;
    height: 47px;
    display: inline-block;
    text-align: -webkit-center;
    background: -webkit-linear-gradient(#77C4FB,#1A41B8);
    border: 1px solid white;
    margin: 3px;
}

.answerTile:active {
  transform: rotateX(180deg);
}

.backTile {
    position: relative;
    left: 3px;
    top: 5px;
    width: 176px;
    height: 47px;
    display: inline-block;
    text-align: -webkit-center;
    border: 1px solid white;
    margin: 3px;
    background: #11155C;
    display: none;
}

#logo {
  width: 300px;
  margin: 0 auto;
}

#family1-scorebox {
  position: absolute;
  left: -210px;
  top: 35px;
  width: 150px;
  height: 97px;
  background-color: #C13237;
}

#family1-score-container {
  position: absolute;
  width: 100px;
  height: 60px;
  margin: 20px 10px 10px 25px;
  background-color: black;
}

#family2-scorebox {
  position: absolute;
  left: 440px;
  top: 35px;
  width: 150px;
  height: 97px;
  background-color: #C13237;
}

#family2-score-container {
  position: absolute;
  width: 100px;
  height: 60px;
  margin: 20px 10px 10px 25px;
  background-color: black;
}

/*-------------------------------*/
/*player images and names*/

.player-wrapper {
}

/*family 1*/
.family1-wrapper{
  position: relative;
  width: 500px;
  margin: 0 auto;
  left: -300px;
  top: 50px;
}

#family1-name {
  position: absolute;
  width: 200px;
  height: 20px;
  top: 20px;
  font-size: 16px;
  border: 2px solid #C13237;
  left: 20px;
}

#family1-name-output {
  position: absolute;
  width: 300px;
  height: 40px;
  font-size: 30px;
  left: 35px;
  display: none;
  color: white;
  top: 8px;
}

#family1-button {
  position: absolute;
  top: 22px;
  left: 230px;
  cursor: pointer;
}

#button-image {
  width: 22px;
}

#player1-icon {
  position: absolute;
  height: 150px;
  top: 65px;
  left: 15px;
}

#player1-input {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 220px;
  border: 2px solid #C13237;
}

#player1-button {
  position: absolute;
  width: 20px;
  left: 108px;
  top: 223px;
  cursor: pointer;
}

#player1-name-output {
  position: absolute;
  width: 150px;
  height: 40px;
  font-size: 30px;
  left: 22px;
  display: none;
  color: white;
  top: 220px;
}

#player2-icon {
  position: absolute;
  height: 150px;
  top: 71px;
  left: 160px;
}

#player2-input {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 220px;
  left: 184px;
  border: 2px solid #C13237;
}

#player2-button {
  position: absolute;
  width: 20px;
  left: 293px;
  top: 223px;
  cursor: pointer;
}

#player2-name-output {
  position: absolute;
  width: 150px;
  height: 40px;
  font-size: 30px;
  left: 200px;
  display: none;
  color: white;
  top: 220px;
}

/*family 2*/
.family2-wrapper{
  position: relative;
  width: 500px;
  margin: 0 auto;
  left: -300px;
  top: 50px;
}

#family2-name {
  position: absolute;
  width: 200px;
  height: 20px;
  top: 20px;
  font-size: 16px;
  border: 2px solid #C13237;
  left: 820px;
}

#family2-name-output {
  position: absolute;
  width: 300px;
  height: 40px;
  font-size: 30px;
  left: 830px;
  display: none;
  color: white;
  top: 8px;
}

#family2-button {
  position: absolute;
  width: 22px;
  top: 21px;
  left: 1030px;
  cursor: pointer;
}

#player3-icon {
  position: absolute;
  height: 160px;
  top: 65px;
  left: 760px;
}

#player3-input {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 220px;
  left: 792px;
  border: 2px solid #C13237;
}

#player3-button {
  position: absolute;
  width: 22px;
  top: 222px;
  left: 900px;
  cursor: pointer;
}

#player3-name-output {
  position: absolute;
  width: 150px;
  height: 40px;
  font-size: 30px;
  left: 820px;
  display: none;
  color: white;
  top: 220px;
}

.Player4 {
  position: absolute;
  left: -20px;
}

#player4-icon {
  position: absolute;
  height: 150px;
  top: 65px;
  left: 980px;
}

#player4-input {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 220px;
  left: 982px;
  border: 2px solid #C13237;
}

#player4-button {
  position: absolute;
  width: 22px;
  top: 222px;
  left: 1092px;
  cursor: pointer;
}

#player4-name-output {
  position: absolute;
  width: 150px;
  height: 40px;
  font-size: 30px;
  left: 1000px;
  display: none;
  color: white;
  top: 220px;
}

.answer-number {
    color: white;
    background-color: #11155C;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    font-weight: bolder;
    font-size: x-large;
    margin: 5px;
}

/*-------------------------------*/
/*text of answer tile*/
.answer-text {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}

/*-------------------------------*/
/*area with questions, instructions, and answer input*/
#messageArea {
  position: relative;
  margin: 0 auto;
  font-size: 30px;
  color: white;
  text-align: center;
  top: 60px;
}

.messages {
    position: absolute;
    width: 400px;
    text-align: center;
}

#instruction1 {
    position: absolute;
    width: 400px;
    text-align: center;
    left: 360px;
}

#instruction2 {
    position: absolute;
    width: 400px;
    text-align: center;
    left: 380px;
    display: none;
}

#question {
    position: absolute;
    width: 400px;
    text-align: center;
    left: 360px;
}

#answerArea {
  position: absolute;
  width: 100%;
  height: 30px;
  font-size: 30px;
  top: 160px;
}

#answerInput {
    position: absolute;
    width: 200px;
    height: 20px;
    left: 460px;
    top: 15px;
    border: 2px solid #C13237;
}

.answerInputButton {
    position: absolute;
    width: 22px;
    top: 17px;
    left: 670px;
    cursor: pointer;
}

#answerArea {
  display:none;
}

#startgamebutton {
    position: relative;
    border: 1px solid white;
    background: -webkit-linear-gradient(#77C4FB,#1A41B8);
    color: white;
    top: 230px;
    text-align: -webkit-center;
    margin: 0 auto;
    width: 150px;
    cursor: pointer;
    }

.redstrikes {
  position: absolute;
  left: 510px;
  top: 110px;
  width: 100px;
  display: none;
  z-index: 5;
}


